# u-boot environment is stored on disk before first partition
# This is done to limit number of required partitions to four for MBR
# Note that we need an offset to not override the MBR!
# We simply start at 1M (sector 2048), size is 16k
# (First partition starts at sector 4096)
/dev/mmcblk0 0x100000 0x4000
/dev/mmcblk0 0x104000 0x4000
